@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

#root {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}
